.primary_header {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
}

.primary_header.capitalize {
  text-transform: capitalize;
}

.header_text {
  font-size: var(--font);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.light {
  font-weight: var(--font-light) !important;
}

.secondaryHeader {
  font-size: var(--font-lg);
  text-transform: capitalize;
  font-weight: var(--font-bold);
}
