.feature {
  background-color: var(--color-accent);
  border-radius: var(--radius);
}

.image_wrapper {
  position: relative;
  height: 100px;
}

.image {
  object-fit: contain;
}

.details {
  text-align: center;
  line-height: var(--line-height);
}
