.link {
  text-transform: capitalize;
  margin-top: var(--margin);
  transition: color var(--transition), text-decoration 2s ease;
}

.link:hover {
  color: var(--theme-color);
  text-decoration: underline;
}
