.content {
  /* background-color: var(--color-accent); */
  width: 100%;
  border-radius: var(--radius);
}

.content_main {
  padding: 0;
}

@media (min-width: 768px) {
  .content_main {
    padding: var(--padding);
  }
}

@media (min-width: 1024px) {
  .profile_wrapper {
    display: flex;
    /* gap: calc(var(--gap) * 2); */
  }
}
