.success_notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.success_image_wrapper {
  margin-bottom: calc(var(--margin) * 2);
  height: 100px;
  width: 100px;
  position: relative;
}

.success_image {
  object-fit: contain;
}

.text {
  text-transform: capitalize;
}
