.success_notice {
  padding: calc(var(--padding) * 2) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.success_image_wrapper {
  margin-bottom: var(--margin);
  height: 150px;
  width: 150px;
  position: relative;
}

.success_image {
  object-fit: contain;
}
