.wrapper {
  background-color: var(--color-accent);
  border-radius: var(--radius);
  overflow: hidden;
}

.dropdown_header {
  transition: color var(--transition);
  user-select: none;
  cursor: pointer;
}

.header_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all var(--transition);
  line-height: var(--line-height);
}

.content.open {
  max-height: 500px;
}
