.wrapper {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.data_key,
.data_value {
  display: block;
  text-transform: capitalize;
}

.data_key {
  opacity: 0.7;
}

.data_link {
  text-transform: none;
}

.large {
  font-size: var(--font-lg);
}
