.order_total {
  background-color: var(--color-accent);
  border-radius: var(--radius);
  position: sticky;
  top: 0;
}

.total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--gap) * 2);
  margin-top: calc(var(--margin) * 2);
  margin-bottom: calc(var(--gap) * 2);
}
